@using NBook.Models
@model Category



<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <br/>
        </div>
    </div>
    @*<div asp-validation-summary="All"></div>*@
    <div class="mb-3">
        <fieldset disabled="">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" disabled=""/>
        <span asp-validation-for="Name" class="text-danger"></span>
        </fieldset>
    </div>
     <div class="mb-3">
        <fieldset disabled="">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" class="form-control" disabled=""/>
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
         </fieldset>   
    </div>
    <button type="submit" class="btn btn-secondary" style="width:100px">Delete</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary" >Back to List</a>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

