@model int



<div class="container row pt-4 d-flex align-content-center" style="height:100vw">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Thank you!</h1>
        Order Number is : @Model <br /><br />
       <img src="~/layout/success.png" alt="succes-img"/>
       <h2 class="text-primary text-center">Payment has been applied successfully!</h2>
    </div>
    <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to Order Details</a>
</div> 